<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to MitziCom</title>
  <meta name="description" content="MitziCom Test Content">
  <meta name="author" content="Ansible">
</head>

<body>
  <h1>MitziCom Home Page on server: {{ ansible_hostname }}</h1>
</body>
</html>
